<div class="col6 mt-1">
<% if user_signed_in? %>
  <h2><strong><%= event.joins.count %> 人</strong>が参加予定！</h2>

  <% if event.joined_by?(current_user) %>
    <div class="btn btn-success btn-lg">
      <%= link_to event_joins_path(event), method: :delete do %>
        <font color="white">♥参加申請済！</font>
      <% end %>
    </div>
    <br>（↑クリックで参加をキャンセルできます）
    <% else %>
      <% if @event.recruit > @event.joins.count && @event.date > DateTime.now %>
      <div class="btn btn-primary btn-lg">
        <%= link_to event_joins_path(event), method: :post do %>
          <font color="white">♡クリックで参加！</font>
        <% end %>
      </div>
      <% else %>
      <div class="btn btn-dark btn-lg">
        <font color="white">募集は終了しました</font>
      </div>
      <% end %>
  <% end %>

<% else %>
  <div class="btn btn-info btn-lg">
    <%= link_to new_user_session_path ,class: 'nav-link text-light' do %>
      <font color="white">ログインしてイベントへ参加</font>
    <% end %>

<% end %>
</div>