  <div class="row">
    <div class="col-2", style="padding:50px;">

        <%= render 'genres_sidebar', genres: @genres %>
  </div>

    <div class="col-9">
      <h4 style="padding-top:50px;">過去のイベント一覧</h4>（全<%= @events.count %>件）

      <%= link_to events_path do %>
        <div class="btn btn-sm btn-primary rounded-pill mb-2">イベント一覧</div>
      <% end %>

      <%= render 'lists', events: @events %>
    </div>

  </div>
</div>