<div class="container">
  <div class='row form-group'>
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6 mt-4">

      <h1>
        <%= image_tag 'logo.png', size:"60x60", class:"rounded-pill" %>
      クライベ -crowdeventing-</h1>
      <p class="mt-5">アタラシイ繋がりを見つけよう。</p></br>
      <p>イキイキとした生活へ繋がる。</p></br>

      <div class="btn-wrapper col-6 mx-auto">
        <div class="row">
          <%= link_to "ログイン", new_user_session_path, class: "btn btn-info btn-sm btn-block" %>
        </div></br>

        <div class="row">
          <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success btn-sm btn-block" %>

        </div>
      </div>

    </div>
  </div>
</div>

    </div>
  </div>
</div>