<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-10 mt-5 mx-auto">
      <h2>ジャンル編集（管理者画面）</h2>

        <table>
          <td>
            <%= form_with model: @genre, url: admin_genre_path do |f| %>
              <%= f.text_field :name %></br>
              <%= f.file_field :genre_image, accept: 'image/*' %></br>
              <input type="submit" name="commit" value="変更を保存" class="btn btn-success" data-disable-with="Update Genre">
            <% end %>
          </td>
        </table>

    </div>
  </div>
</div>
