<div class="container">
  <div class="row">
    <div class="col-3", style="padding:50px;">
    <!-- ジャンル選択のサイドバー -->
    <%= render 'public/events/genres_sidebar', genres: @genres %>
    <!-- ここまで -->
    </div>
    <div class="col-9 item-index", style="padding:50px;">
      <h4>"<%= @genre.name %>"一覧</h4>（全<%= @genre.events.count %>件）
      <%= render 'public/events/lists', events: @genre.events %>
    </div>
</div>